
                    <div style="border:1px solid gray;margin-bottom:5px;padding:5px">
                        <h2>Welcome to {{appname}}</h2>
                        <div style="display:flex;width:100%;">
                            <span style="font-weight:600;">From:&nbsp;<span class="mp_address_group"><span class="mp_address_name">{{appname}}</span> &lt;<a href={{email_from}} class="mp_address_email">{{email_from}}</a>&gt;</span></span>
                            <span style="flex: 1 1 auto;"></span>
                            <span style="color:silver;font-weight:600">9/14/2021, 9:53:02 PM</span>
                        </div>
                        <div style="font-size:12px;">
                            To:&nbsp;<span class="mp_address_group"><a href={{email_to}} class="mp_address_email">{{email_to}}</a></span>
                        </div>
                    </div><p><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="font-family: 'open-sans', helvetica, arial, sans-serif; background-color:#F1F2F3">
<!--[if mso]><center><table style="font-family: 'open-sans', helvetica, arial, sans-serif;"><tr><td width="80%"><![endif]-->
  <div style="padding: 10px;">
    <div style="padding-top: 10px; width: 80%; margin: 0 auto">
      <!-- <img alt="Pivotal Tracker Logo" src="https://assets.pivotaltracker.com/images/v7/email/welcome/pt_logo.png" style="padding: 0px 5px 10px 5px;">
      <img alt="Pivotal Tracker Logo" src="https://assets.pivotaltracker.com/images/v7/email/welcome/pt_logo.png" style="padding: 0px 5px 10px 5px;"> -->
    </div>
    <div style="padding-top: 10px; text-align: center; color: black; background-color: white; width: 80%; margin: 0 auto; border-bottom: solid 1px #BFC0C1">
      <div style="padding: 0px 15px;">
        <div>
          <h3>Get started in 3 minutes</h3>
          Check out our Getting Started video for a quick overview of Tracker.
        </div>
        <div style="padding: 20px 5px 10px 5px;">
          <!--[if mso]><br><table style="font-family: 'open-sans', helvetica, arial, sans-serif; background: white; width: 100%;"><tr style="height: 50px;"><td width= "40%"></td><td style="background-color: #FD9E28; text-align: center"><![endif]-->
          <a href="#">
            <span style="display: inline-block; padding: 15px 35px; background: #FD9E28; color: white; border-radius: 3px; display: inline-block; text-decoration: none">
              Watch 3-minute video
            </span>
          </a>
          <!--[if mso]></td><td width= "40%"></td></tr></table><![endif]-->
        </div>
      </div>
      <div style="padding-top: 5px;">
        <a href="#">
          <img alt="quick start video" src="https://assets.pivotaltracker.com/images/v7/email/welcome/video.png" style="width: 100%; max-width: 375px; display: block; margin: 0 auto;">
        </a>
      </div>
    </div>
    <div style="width: 80%; margin: 0 auto;">
      <div style="padding-top: 10px">
        <h3>Take {{appname}} on the go!</h3>
      </div>
      <div>
        Use Tracker wherever you need it with our <a href={{appurl}} style="color: #5C8FB7">iPhone</a>, <a href={{appurl}} style="color: #5C8FB7">iPad</a>, and <a href={{appurl}} style="color: #5C8FB7">Android</a> apps.
      </div>
      <hr style="margin-top: 20px;" />
      <div style="padding-top: 10px">
        Have questions? <a href={{email_from}} style="color: #5C8FB7">Email Support</a>, and be sure to follow us on <a href="#" style="color: #5C8FB7">Twitter</a>, <a href="#" style="color: #5C8FB7">Facebook</a>, and <a href="#" style="color: #5C8FB7">our blog</a> for updates.
      </div>
    </div>
  </div>
<!--[if mso]></td></tr></table></center><![endif]-->
<img src="http://trackermail.pivotaltracker.com/wf/open?upn=GsrMh-2FSgWtS8kqkvtokyf2PWxHA9ngHbbvR7rpEJUBR2JgjtaFMhznqt-2BVw-2BRM7soc5C-2F12gJcxgbpnu8OFbZ3TL-2FtQps5sJY5Iy6zK976VVKwhAN61lBpoFRy4237wqB-2B2GnFS-2FwlBz-2Bg-2FQEBepol8Z89QO4CKxz4FGo7ZuoucalACfWxdSHqZwm4-2BPw7GUvqBoAzOnl-2Fh4wYh8iMBgWyZjlOcK4cdSm7PIndPUgoTB9EP-2BXlKR5Lyp-2FRVZixFk" alt="" width="1" height="1" border="0" style="height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;"/></body>
<head>
  <title>Welcome to {{appname}}</title>
</head>
</html>
</p>