
                    <div style="border:1px solid gray;margin-bottom:5px;padding:5px">
                        <h2>Welcome to {{appname}}</h2>
                        <div style="display:flex;width:100%;">
                            <span style="font-weight:600;">From:&nbsp;<span class="mp_address_group"><span class="mp_address_name">{{appname}} Notifications</span> &lt;<a href={{email_from}} class="mp_address_email">{{email_from}}</a>&gt;</span></span>
                            <span style="flex: 1 1 auto;"></span>
                            <span style="color:silver;font-weight:600">9/13/2021, 10:23:31 PM</span>
                        </div>
                        <div style="font-size:12px;">
                            To:&nbsp;<span class="mp_address_group"><a href={{email_to}} class="mp_address_email">{{email_to}}</a></span>
                        </div>
                    </div><p><div dir="ltr">
    <div class="gmail_quote" class="insightly_notification_identifier">
        <br><u></u>
        <div marginheight="0" marginwidth="0" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height:21px;color:#404040">
            <div style="max-width:650px;margin:0 auto;padding:20px 0">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;color:#404040">
                    <tbody>
                        <tr>
                            <td width="100%" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif">
                                <table bgcolor="#FFFFFF" width="97%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-radius:4px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;color:#404040;border:1px solid #ddd">
                                    <tbody>
                                        <tr>
                                            <td width="100%" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;color:#404040">
                                                    <tbody>
                                                        <tr>
                                                            <td bgcolor="#f2f2f2" width="100%" style="border-radius:3px 3px 0px 0px;font-size:26px;font-weight:700;letter-spacing:-1px;border-bottom-style:solid;border-bottom-color:#ddd;border-bottom-width:1px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;padding:20px 30px 20px;color:#777;">
                                                                <img src="https://lh3.googleusercontent.com/-utaEh6OcLQs/UoFR1T4kSbI/AAAAAAAAA9A/uGPu7Tit3bg/s0/insightly_icn_48x48.png" width="36" height="36" alt="In" style="display:inline-block;border:0;vertical-align:sub;margin-right:10px;">Insightly
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100%" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; padding: 30px 30px 20px">
                                                                <!-- Content -->
                                                                

    <p>
        {{username}},
    </p>


    <p>Thank you for registering with {{appname}} CRM, the one secure place to store all your customer information, manage pipelines and projects, close more deals and grow your business.</p>
    <br />
    <p>To access your account, sign in by clicking <a href="#" target="_blank" style="color:#ff9900; font-weight:bold;">here</a>.</p>
    <p>Your {{appname}} email address to login is:  {{email_to}}</p>
    <br />
    <p>Why not bookmark this <a href="#" target="_blank" style="color:#ff9900; font-weight:bold;">URL</a> so you can easily find it later?</p>
    <br />
    <p>
        <img alt="The Insightly Customer Success Team" src="https://d30chhj7mra175.cloudfront.net/img/the_insightly_team.png" />
    </p>
    <p align="center">Connect with {{appname}} on the go</p>
    <p align="center">
        <a href={{appurl}} target="_blank"><img src="https://d30chhj7mra175.cloudfront.net/img/appstore.png" height="40" alt="appstore" /></a>&nbsp;&nbsp;&nbsp;&nbsp;

        <a href={{appurl}} target="_blank"><img src="https://d30chhj7mra175.cloudfront.net/img/googleplay.png" height="40" alt="googleplay" /></a>
    </p>


                                                                <!-- Content End -->
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100%" style="border-top-width:1px;border-top-color:#ddd;border-top-style:solid;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:10px;padding:15px 30px;background-color:#f2f2f2;">
                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;color:#404040">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="33%" style="font-size:10px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif">
                                                                                © Insightly, Inc.
                                                                            </td>
                                                                            <td align="center">
                                                                                <a href="#"><img src="https://d30chhj7mra175.cloudfront.net/img/insightly-logo-gray.png" alt="Insightly" height="30" width="80" /></a>
                                                                            </td>
                                                                            <td width="33%" style="text-align:right;font-size:10px;font-weight:400;font-family:Helvetica Neue,Helvetica,Arial,sans-serif" align="right">
                                                                                <a href="#" style="color:#FF4A00!important;text-decoration:none!important;border:0" target="_blank">insightly.com</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: center; font-size: 10px; color: #999" align="center">
                <p style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif">Insightly, Inc. • 680 Folsom Street • Suite 550 • San Francisco, CA 94107 USA</p>
            </div>
        </div>
    </div>
    <br><br clear="all">
    <div><br></div>
</div>
</p>