
                    <div style="border:1px solid gray;margin-bottom:5px;padding:5px">
                        <h2>Welcome to {{appname}}, please verify your email!</h2>
                        <div style="display:flex;width:100%;">
                            <span style="font-weight:600;">From:&nbsp;<span class="mp_address_group"><span class="mp_address_name">{{appname}}</span> &lt;<a href={{email_from}} class="mp_address_email">{{email_from}}</a>&gt;</span></span>
                            <span style="flex: 1 1 auto;"></span>
                            <span style="color:silver;font-weight:600">8/17/2021, 1:13:32 PM</span>
                        </div>
                        <div style="font-size:12px;">
                            To:&nbsp;<span class="mp_address_group"><a href={{email_to}} class="mp_address_email">{{email_to}}</a></span>
                        </div>
                    </div><p><!DOCTYPE html>
<html style="font-size:16px;font-family:'Gotham Narrow A', 'Gotham Narrow B', 'Gotham Narrow', 'Helvetica', 'Helvetica Neue', 'Arial', 'sans-serif'">
  <head>
    <title>{{appname}}®</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    
  </head>
  <body style="color:#727979">
    <table class="table" cellpadding="0" cellspacing="0" style="margin:0 auto;-moz-box-shadow:0 0 .5rem #cbcfcf;-webkit-box-shadow:0 0 .5rem #cbcfcf;box-shadow:0 0 .5rem #cbcfcf">
      <tr>
        <td class="header" style="padding:1.5rem 3rem .5rem 3rem;border-top:.5rem solid #70ccd3">
          <img class="newrelic-logo" alt="New Relic Logo" src="https://signup-processor.service.newrelic.com/images/new-relic-logo.png" style="width:9rem">
        </td>
      </tr>
      <tr>
        <td class="primary-content" style="padding:0 3rem 3rem 3rem">
          <h2 style="font-family:'Gotham Narrow A', 'Gotham Narrow B', 'Gotham Narrow', 'Helvetica', 'Helvetica Neue', 'Arial', 'sans-serif';font-weight:300;font-size:1.7rem;margin-bottom:3rem">Hello,</h2>

<p>Welcome! We recently received a request to create an account. To verify that you made this request, we're sending this confirmation email.</p>

<div class="button" style="background-color:#00b3c3;padding:.8rem 1rem .6rem 1rem;display:inline-block;border-radius:4px;margin-bottom:1rem">
  <a href="#" style="text-decoration:none;color:#00B3C3;color:#fcfcfc">Verify Email</a>
</div>

<p>
  Or you can copy/paste the following URL into your browser:<br>
  <span class="code" style='font-family:"InputMono", "Inconsolata", "Bitstream Vera Sans Mono", "Menlo", "Monaco", "Andale Mono", "Courier New", "Courier", monospace;font-size:.7rem;display:block;margin-top:.5rem'><a href="#" style="text-decoration:none;color:#00B3C3;padding:.2rem .3rem;background-color:#eeefef;color:#0069ce">#</a></span>
</p>

<p>Thank you!</p>

<div class="valediction" style="padding-top:1rem">
  <p style="margin-top:0;margin-bottom:.3rem">Sincerely,</p>
  <p style="margin-top:0;margin-bottom:.3rem">The {{appname}} Team</p>
</div>

        </td>
      </tr>
      <tr>
        <td class="footer" style="background-color:#3e4c4c;padding:2.5rem 3rem 2.5rem 3rem;color:#fcfcfc">
          <p>
            <a href="#" style="text-decoration:none;color:#00B3C3;color:#fcfcfc">Log in to New Relic</a>
            |
            Find us online:
            <a href="#" style="text-decoration:none;color:#00B3C3;color:#fcfcfc">
              <img alt="Twitter" class="social-media-icon" src="https://signup-processor.service.newrelic.com/images/twitter-logo.png" style="width:1rem;vertical-align:middle">
            </a>
            <a href="#" style="text-decoration:none;color:#00B3C3;color:#fcfcfc">
              <img alt="Facebook" class="social-media-icon" src="https://signup-processor.service.newrelic.com/images/fb-logo.png" style="width:1rem;vertical-align:middle">
            </a>
          </p>
          <div class="address" style="font-size:.85rem;color:#bbb;padding-top:.4rem">
            <p style="margin:.2rem 0">New Relic Inc. — 188 Spear Street, Suite 1200, San Francisco, CA 94105</p>
            <p style="margin:.2rem 0">Copyright © 2008&#9472;2021 New Relic, Inc. All rights reserved. All trademarks, trade names, service marks and logos referenced herein belong to their respective companies.</p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
</p>