
                    <div style="border:1px solid gray;margin-bottom:5px;padding:5px">
                        <h2>Don't get stuck in the doghouse!</h2>
                        <div style="display:flex;width:100%;">
                            <span style="font-weight:600;">From:&nbsp;<span class="mp_address_group"><span class="mp_address_name">{{appname}}</span> &lt;<a href={{email_from}} class="mp_address_email">{{email_from}}</a>&gt;</span></span>
                            <span style="flex: 1 1 auto;"></span>
                            <span style="color:silver;font-weight:600">8/18/2021, 3:27:51 PM</span>
                        </div>
                        <div style="font-size:12px;">
                            To:&nbsp;<span class="mp_address_group"><a href={{email_to}} class="mp_address_email">{{email_to}}</a></span>
                        </div>
                    </div><p><!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head> 
<title></title>            
</head> 
<body style="margin:0px; "> 
<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#F5F5F5" style="border-collapse:collapse; "> 
<tbody style=""> 
<tr style=""> 
<td class="mktoContainer" id="main" valign="top" style="max-width:540px; margin:0 auto; border-radius:8px; margin-top:10px; padding:0px; ">
<table class="mktoModule" id="centerLogob9753e9e-bcd0-4197-a382-65eeb3891ff9" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px"> 
<tbody> 
<tr> 
<td bgcolor="#FFFFFF" align="center" height="100%" valign="top" width="100%" style="padding:17px 0 15px 0;"><a href=
"#"
>
<!-- <img src="http://lp.datadoghq.com/rs/875-UVY-685/images/datadog-logo-125.png" width="60" height="60" border="0" class=""> -->
<img src="http://lp.datadoghq.com/rs/875-UVY-685/images/datadog-logo-125.png" width="60" height="60" border="0" class="">
</a></td> 
</tr> 
</tbody> 
</table>
<table class="mktoModule" id="linespacer" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px; padding:0; "> 
<tbody> 
<tr> 
<td> 
<table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:540px;padding:0;height:1px;border-top:1px solid #dadada;"> 
<tbody> 
<tr> 
<td></td> 
</tr> 
</tbody> 
</table> </td> 
</tr> 
</tbody> 
</table>
<table class="mktoModule" id="testing" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px; padding:0; "> 
<tbody style=""> 
<tr style=""> 
<td style=""> 
<table class="" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:540px; padding:0; "> 
<tbody> 
<tr style="" class=""> 
<td style="font-family:'Helvetica', 'Arial', sans-serif!important; font-size:18px; line-height:24px!important; color:#555555; " id="edit-body"> <p class="mktEditable" id="greeting2">Hi {{username}}, <p>Thanks for starting your {{appname}} trial.</p> <p>It looks like you haven't finished the signup process. If you're stuck, we'd like to offer some help:</p> 
<ul> 
<li><strong>Email:</strong> Reply directly to this email to get assistance from our team</li> 
<li><strong>Slack:</strong> Join our public Slack group at <a href=
"#" target="_blank"
>chat.datadoghq.com</a> to chat with our team and other Datadog users</li> 
<li><strong>Webinars:</strong> Check out one of our weekly Datadog 101 sessions at <a href=
"#" target="_blank"
>www.datadoghq.com/demos-webinars/</a></li> 
</ul> <p>To resume the signup process, you can log back into your account at: <a href=
{{appurl}} target="_blank" id=""
>{{appurl}}</a></p> <p>Happy monitoring,</p></p> </td> 
</tr> 
</tbody> 
</table> </td> 
</tr> 
</tbody> 
</table>
<table class="mktoModule" id="Author" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="max-width:640px;" width="100%"> 
<tbody style=""> 
<tr style=""> 
<td style="background:#fff;"> 
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="max-width:540px; padding:10px 0px 30px 0px;" width="100%"> 
<tbody> 
<tr style=""> 
<td style="padding-right:10px!important;" width="50"> 
<div> 
<img src="https://lp.datadoghq.com/rs/875-UVY-685/images/Headshot-AlexisleQuoc.png" height="50" width="50" border="0" class="mktoImg" id="AuthorImage" style="" mktolockimgsize="true"> 
</div> </td> 
<td style=""> 
<div style=""> 
<div class="mktoText" id="AuthorName" style="font-family:'Helvetica', 'Arial', sans-serif; font-size:18px; line-height:24px!important; color:#555555; vertical-align:top; padding:0;">
{{agentname}}
</div> 
<div class="mktoText" id="AuthorTitle" style="font-family:'Helvetica', 'Arial', sans-serif; font-size:18px; line-height:24px!important; color:#555555; vertical-align:top; padding:0;">
{{agenttitle}}, {{appname}}
</div> 
</div> </td> 
</tr> 
</tbody> 
</table> </td> 
</tr> 
</tbody> 
</table>
<table class="mktoModule" id="blankspacer" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px; padding:0; "> 
<tbody> 
<tr> 
<td> 
<table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:540px;padding-top:0px;padding-bottom:0px;"> 
<tbody> 
<tr> 
<td></td> 
</tr> 
</tbody> 
</table> </td> 
</tr> 
</tbody> 
</table>
<table class="mktoModule" id="linespacer2" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px; padding:0; "> 
<tbody> 
<tr> 
<td> 
<table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:540px;padding:0;height:1px;border-top:1px solid #dadada;"> 
<tbody> 
<tr> 
<td></td> 
</tr> 
</tbody> 
</table> </td> 
</tr> 
</tbody> 
</table>
<table class="mktoModule" id="socialea5a7bd9-57eb-4867-8739-77fc7bca37d1" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px"> 
<tbody> 
<tr> 
<td style="padding: 15px 0 20px 0;"> 
<div class="mktoSnippet" id="social_iconsea5a7bd9-57eb-4867-8739-77fc7bca37d1">
<table width="115" height="41" style="margin-left: auto; margin-right: auto;"> 
<tbody> 
<tr> 
<td><a href=
"#" target="_blank"
><img src="https://lp.datadoghq.com/rs/875-UVY-685/images/email_footer_twitter.png" alt="email_footer_twitter.png" height="25" width="25" constrain="true" imagepreview="false"></a><br></td> 
<td><a href=
"#" target="_blank"
><img src="https://lp.datadoghq.com/rs/875-UVY-685/images/email_footer_linkedin.png" alt="email_footer_linkedin.png" height="25" width="25" constrain="true" imagepreview="false"></a><br></td> 
<td><a href=
"#" target="_blank"
><img src="https://lp.datadoghq.com/rs/875-UVY-685/images/email_footer_instagram.png" alt="email_footer_instagram.png" height="25" width="25" constrain="true" imagepreview="false"></a><br></td> 
<td><a href=
"mailto:marketingteam@datadoghq.com" target="_blank" class="mktNoTrack"
><img src="https://lp.datadoghq.com/rs/875-UVY-685/images/email_footer_email.png" alt="email_footer_email.png" height="25" width="25" constrain="true" imagepreview="false"></a><br></td> 
</tr> 
</tbody> 
</table>
</div> </td> 
</tr> 
</tbody> 
</table>
<table class="mktoModule" id="footerCopy" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width:640px;"> 
<tbody> 
<tr> 
<td style="padding:10px 0;width:100%;text-align:center;"> <span class="mktoText" id="footerAddress" style="font-size:10px;font-family:'Helvetica','Arial';font-weight:200;line-height:10px;text-align:center;color:#555555;">©2021 Datadog Inc, 620 <span style="color: #555555!important; line-height: 10px!important; text-decoration: none!important;">8th Ave, 45th Floor, New York,</span> NY 10018</span> 
<div style="padding:3px;font-size:10px;font-family:'Helvetica','Arial';font-weight:200;line-height:10px;text-align:center;color:#555555"> 
<span class="mktoText" id="preUnsubscribeText"></span> Visit our 
<a class="mktEditable" id="footerunsub" style="color:#555555!important;text-decoration:underline!important;" href=
"#"
><span style="display:none!important;">Visit our</span> email preference center <span style="display:none!important;">https://www.datadoghq.com/subscriptions/?mkt_unsubscribe=1</span></a> to unsubscribe or update your email subscriptions 
</div> </td> 
</tr> 
</tbody> 
</table></td> 
</tr> 
</tbody> 
</table>  
<a href=
"#"
></a>
<img src="http://em.datadoghq.com/trk?t=1&mid=ODc1LVVWWS02ODU6MDoxNjQ3OjY3MjU0OjI6MTgxOTM6OToxMDc6NjU3NjM2MTQtMTpudWxs" width="1" height="1" style="display:none !important;" alt="" />

<p><font face="Verdana" size="1">This email was sent to jake+datadogfreetrial@messaged.io. </font> </p>
</body>
</html></p>